.bullet {
	list-style: none;
	padding-left: 10px;
	li {
		position: relative;
		padding-left: 20px;
		&:before {
			content: '';

			position: absolute;
			top: 6px;
			left: 0;

			width: 5px;
			height: 5px;
			border-radius: 50%;

			background-color: #001424;
		}
	}
	&_color_grey {
		li {
			&:before {
				background-color: #9198a0;
			}
		}
	}
}