.button-clr {
	padding: 0;
	border: none;
	background-color: transparent;
	&:focus {
		outline: none;
	}
}
.button {
	display: inline-block;
}
.add-button {
	padding: 14px 16px;
	line-height: 20px;
	&:hover {
		color: #e30611;
		text-decoration: none;
	}
}
.add-button-icon {
	position: relative;
	top: -1px;
	font-size: 16px;
	color: #e30611;
	& + .add-button-txt {
		margin-left: 8px;
	}
}
.add-button-txt {
	font-size: 16px;
	font-weight: 700;
	color: #e30611;
	letter-spacing: -0.23px;
}

.button-list {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 44px;
	height: 44px;

	font-size: 16px;
	line-height: 1;
	color: #000;

	border-radius: 4px;
	border: solid 2px #e2e5eb;
	background-color: #ffffff;
	.svg-icon {
		// font-size: 16px;
	}
	&:hover {
		color: #000;
		text-decoration: none;
	}
	&:not(.collapsed) {
		background-color: #e30611;
		border-color: #e30611;
		color: #fff;
		&:hover {
			background-color: #c90000;
			border-color: #c90000;
		}
	}
}



.button-regular {
	position: relative;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 12px 10px 12px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	color: #001424;

	border-radius: 4px;
	border: solid 2px #e2e5eb;
	background-color: #ffffff;
	.svg-icon {
		position: relative;
		font-size: 16px;
		& + span {
			margin-left: 8px;
		}
	}
	.svg-icon_shevron {
		font-size: 12px;
	}
	.svg-icon_absolute {
		font-size: 12px;
		position: absolute;
		top: 50%;
		right: 16px;
		transform: translate(0, -50%);
	}
	&:hover {
		text-decoration: none;
		color: #001424;
	}
	&_red {
		border-color: #e30611;
		background-color: #e30611;
		color: #fff;
		&:hover {
			background-color: #c90000;
			border-color: #c90000;
			color: #fff;
		}
	}
	&_padding_medium {
		padding-left: 15px;
		padding-right: 15px;
	}
	&_padding_bigger {
		padding-left: 20px;
		padding-right: 20px;
	}
	&_padding_large {
		padding-left: 25px;
		padding-right: 25px;
	}
	&.text-left {
		justify-content: flex-start;
	}
	&_width_360 {
		width: 360px;
	}
	&_border_transparent {
		border-color: transparent;
	}
	&_border_width_1 {
		border-width: 1px;
	}
	&_border_bottom_grey {
		border: none;
		border-bottom: 2px solid #e2e5eb;
	}
}
.button-hover-red {
	&:hover {
		background-color: #c90000;
		border-color: #c90000;
		color: #fff;
	}
}
.button-hover-dark {
	&:hover {
		background-color: #001424;
		border-color: #001424;
		color: #fff;
	}
}
.button-hover-content-red {
	&:hover {
		color: #c90000;
		.svg-icon {
			color: #c90000;
		}
	}
}
.button-hover-transparent {
	&:hover {
		background-color: #f2f3f7;
	}
}
.button-hover-grey {
	&:hover {
		border-color: #e2e5eb;
		background-color: #e2e5eb;
		color: #bac1c8;
	}
}
.button-width {
	width: 127px;
	&-medium {
		width: 90px;
	}
	&_123 {
		width: 123px;
	}
}
.button-disabled {
	background-color: #e2e5eb;
	border-color: #e2e5eb;
	color: #bac1c8;
	&:hover {
		cursor: default;
		border-color: #e2e5eb;
		background-color: #e2e5eb;
		color: #bac1c8;
	}
}


.button-red {
	display: inline-block;
	padding: 15px 30px;
	font-size: 14px;
	color: #fff;
	line-height: 1;
	border-radius: 4px;
	background-color: #e30611;
	&:hover {
		color: #fff;
		text-decoration: none;
	}
	&_small {
		padding: 15px;
	}
}

.button-grey-light {
	display: inline-block;
	padding: 15px 30px;
	font-size: 14px;
	color: #bac1c8;
	line-height: 1;
	border-radius: 4px;
	background-color: #e2e5eb;
	&:hover {
		text-decoration: none;
		color: #bac1c8;
	}
}
.button-edit {
	display: inline-block;
}



.button-regular-more {
	.button-txt {
		& + .svg-icon {
			margin-left: 10px;
		}
	}
	.svg-icon {
		color: #bbc1c7;
		font-size: 12px;
	}
}

.button-dotted {
	border: 2px dotted #0097fd;
}

.button-hover-dark {
	&:hover {
		background-color: #001424;
		border-color: #001424;
		color: #fff;
	}
}