.checkbox {
	position: relative;
	display: inline-block;
	&_right {
		// padding-right: 30px;
		.checkbox-label {
			padding-right: 30px;
			width: 100%;
		}
		.checkbox-pseudo {
			position: absolute;
			left: auto;
			right: 0;
			top: 1px;
			margin-right: 0;
			& + .checkbox-txt, & + .checkbox-txt-bold {
				margin-left: 0;
			}
		}
	}
	&_transparent {
		.checkbox-icon {
			color: #e30611;
		}
		.checkbox-input {
			&:checked {
				& + label {
					.checkbox-pseudo {
						background-color: #fff;
						border-color: #e2e5eb;
					}
					.checkbox-icon {
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
	}
	&_dark {
		.checkbox-icon {
			color: #001424;
		}
	}
	&_plus {
		.checkbox-input {
			&:checked {
				& + label {
					.checkbox-pseudo {
						background-color: #fff;
						border-color: #000;
						&:before {
							opacity: 1;
							visibility: visible;
							transform: translate(-50%, -50%) rotate(90deg);
						}
						&:after {
							transform: translate(-50%, -50%) rotate(-180deg);
						}
					}
				}
			}
		}
		.checkbox-pseudo {
			border-color: #000;
			&:before {
				content: '';

				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);

				height: 8px;
				width: 2px;
				background-color: #000;
				

				// opacity: 0;
				// visibility: hidden;
				transition: linear .1s;
			}
			&:after {
				content: '';

				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				
				width: 8px;
				height: 2px;

				background-color: #000;

				transition: linear .1s;

				// opacity: 0;
				// visibility: hidden;
			}
		}
	}
}
.checkbox-input {
	& + label {
		.checkbox-txt-bold {
			position: relative;
			top: -2px;
		}
	}
	&:checked {
		& + label {
			.checkbox-pseudo {
				background-color: #e30611;
				border-color: #e30611;
			}
			.checkbox-icon {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}
.checkbox-label {
	// width: 100%;
	position: relative;
	margin: 0;
	padding-left: 18px;
	min-width: 18px;
	min-height: 18px;
	// display: flex;
	// align-items: flex-start;
}
.checkbox-pseudo {
	flex-shrink: 0;
	position: absolute;
	top: 0;
	left: 0;
	// margin-right: 8px;
	display: inline-block;
	width: 18px;
	height: 18px;
	border-radius: 4px;
	border: solid 2px #e2e5eb;
	background-color: #ffffff;
	transition: linear .1s;
	& + .checkbox-txt, & + .checkbox-txt-bold {
		margin-left: 8px;
	}
}
.checkbox-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	font-size: 8px;
	color: #fff;

	opacity: 0;
	visibility: hidden;
	transition: linear .1s;
}
.checkbox-txt {
	display: inline-flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 0;
}
.checkbox-txt-bold {
	margin: 0;
	font-size: 16px;
	font-weight: bold;
	line-height: 1.38;
	color: #001424;
}