.company-name {
	font-size: 16px;
	font-weight: bold;
	line-height: 1.25;
	color: #001424;

	padding-bottom: 10px;
	border-bottom: 1px solid #e7eafa;
	margin-bottom: 10px;
}
.company-name-icon {
	width: 22px;
	height: 22px;
	margin-right: 14px;
	position: relative;
	top: -1px;
}
