.list-clr {
	padding: 0;
	margin: 0;
	list-style: none;
}
.important {
	color: #e30611;
}
h2 {
	font-size: 27px;
	color: #001424;
}
h3 {
	font-size: 24px;
	font-weight: 700;
	line-height: 1.33;
	color: #001424;
}
h4 {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 8px;
}
.small-text {
	font-size: 12px;
	line-height: 1.5;
	color: #001424;
}
.title-small {
	font-size: 17px;
	line-height: 23px;
	font-weight: 700;
	color: #001424;
}
.date-current {
	color: #333;
	border-radius: 4px;
	background-color: #f2f2f2;
	padding: 3px 9px;
}
.small {
	font-size: 14px;
	line-height: 1.29;
	color: #bbc1c7;
}

.txt-grey {
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.38;
	letter-spacing: normal;
	color: #bbc1c7;
}
.text-grey-light {
	color: #bbc1c7 !important;
}
.text-grey {
	color: #9198a0 !important;
}
.text-grey-dark {
	color: #6e7782 !important;
}
.text-red {
	color: #e30611 !important;
}
.text-blue {
	color: #0097fd !important;
}
.text-dark {
	color: #001424 !important;
}
.text-dark-alternative {
	color: #333 !important;
}
.text-black {
	color: #000 !important;
}
.text-orange {
	color: #f95721 !important;
}

.about-card {
	padding: 15px 11px;
	border: 1px solid #e7eafa;
	font-size: 14px;
	font-weight: 400;
	&_letter {
		padding-top: 6px;
		padding-bottom: 10px;
		font-size: 16px;
		line-height: 1.5;
		color: #001424;
		background-color: #fff;
		margin-bottom: 20px;
	}
}
.about-card-item {
	margin-bottom: 10px;
	&:last-child {
		margin-bottom: 0;
	}
}

.title-small {
	// font-size: 16px;
}

.nowrap {
	white-space: nowrap;
}
.sub-title {
	font-size: 20px;
}

.devider {
	border: none;
	border-bottom: 1px solid #f2f3f7;
	margin: 20px 0;
}

.weight-300 {
	font-weight: 300 !important;
}
.weight-400 {
	font-weight: 400 !important;
}
.weight-700 {
	font-weight: 700 !important;
}

.text_size_8 {
	font-size: 8px !important;
}
.text_size_10 {
	font-size: 10px !important;
}
.text_size_12 {
	font-size: 12px !important;
}
.text_size_14 {
	font-size: 14px !important;
}
.text_size_16 {
	font-size: 16px !important;
}
.text_size_20 {
	font-size: 20px !important;
}
.text_size_40 {
	font-size: 40px !important;
}
.line-height-1 {
	line-height: 1;
}
.line-height-1-38 {
	line-height: 1.38;
}
.line-height-1-5 {
	line-height: 1.5;
}

.list-numeric {
	list-style-type: decimal;
}
.list-square {
	list-style-type: square;
}
.list-circle {
	font-weight: 400;
	padding-left: 20px;
	list-style: none;
	li {
		position: relative;
		line-height: 1.3;
		margin-bottom: 8px;
		br {
			line-height: 1;
		}
		&:before {
			content: '';

			position: absolute;
			left: -15px;
			top: 7px;

			width: 5px;
			height: 5px;
			border-radius: 50%;

			background-color: #9198a0;
		}
	}
}

.earning-value {
	font-weight: 300;
	white-space: nowrap;
	font-size: 20px;
	@include lg() {
		font-size: 22px;
	}
	@include xl() {
		font-size: 40px;
	}
}
.earning-descr {
	font-weight: 700;
	color: #9198a0;
	font-size: 13px;
	@include xl() {
		font-size: 16px;
	}
}
.earning-symbol {
	font-size: 16px;
	@include xl() {
		font-size: 20px;
	}
}