.count-card {
	padding: 20px 15px 20px 20px;
	border: solid 1px #e2e5eb;

	display: flex;
	flex-direction: column;
	hr {
		margin: 20px 0 10px;
		border-top: 2px solid #fac031;
	}
	&_red {
		.count-card-main {
			color: #e30611;
		}
		hr {
			border-color: #e30611;
		}
	}
	&_green {
		.count-card-main {
			color: #00c19b;
		}
		hr {
			border-color: #00c19b;
		}
	}
	&_yellow {
		.count-card-main {
			color: #deb90d;
		}
		hr {
			border-color: #deb90d;
		}
	}
	&_turquoise {
		.count-card-main {
			color: #00b9c5;
		}
		hr {
			border-color: #00b9c5;
		}
	}
	&_grey {
		.count-card-main {
			color: #aaaba9;
		}
		hr {
			border-color: #aaaba9;
		}
	}
}
.count-card-main {
	font-size: 32px;
	font-weight: 300;
	color: #fac031;
	// white-space: nowrap;
	
}
.count-card-title {
	font-size: 14px;
	font-weight: 700;
	line-height: 1.57;
	color: #9198a0;
	text-transform: uppercase;
	margin-bottom: auto;
}
.count-card-foot {
	font-size: 12px;
	font-weight: 700;
	line-height: 1.83;
	color: #9198a0;
}

.count-card-column {
	@include xl() {
		max-width: 20%;
		flex: 0 0 20%;
		.count-card-main {
			font-size: 20px;
		}
		.count-card-title {
			text-transform: none;
			line-height: 1.3;
			margin-top: 3px;
		}
	}
	&_tabs {
		@include xl() {
			width: auto;
			max-width: none;
			flex: 0 1 auto;
			.count-card {
				width: 175px;
			}
			.count-card-main {
				font-size: 32px;
			}
		}
	}
}