.custom-scroll {
	overflow-y: auto;
	.mCSB_scrollTools {
		width: 3px;
	}
	.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
		background-color: #e2e5eb !important;
		width: 100%;
	}
	.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	}
	.mCSB_scrollTools .mCSB_draggerRail {
		background-color: transparent;
	}
}
.custom-scroll-table {
	// width: 1015px;
	// width: 100%;
	overflow-x: auto;
	max-width: 1015px;
	// width: 100%;
	.table {
		// width: 1015px;
		// width: 100%;
	}
	.mCSB_horizontal.mCSB_inside > .mCSB_container {
		margin-bottom: 7px;
	}
	.mCSB_scrollTools.mCSB_scrollTools_horizontal {
		height: 24px;
		padding: 7px 0 7px;
		border-top: 1px solid #f2f3f7;
	}
	.mCSB_scrollTools .mCSB_draggerContainer {
		margin-left: 7px;
		margin-right: 7px;
	}
	.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {
		height: 10px;
		background-color: #bbc1c7;
		border-radius: 4px;
	}
	.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_draggerRail {
		height: 10px;
		background-color: #fff;
	}
}

.scroll-table-other {
	max-width: none;
	width: 100%;
	// overflow-x: auto;
	.table {
		// width: 900px;
		width: 960px;
		// display: none;
	}
	.mCSB_scrollTools .mCSB_draggerContainer {
		margin-right: 0;
		margin-left: 0;
	}
	.mCSB_horizontal.mCSB_inside > .mCSB_container {
		margin-bottom: 20px;
	}
	.mCSB_scrollTools.mCSB_scrollTools_horizontal {
		border-top: none;
	}
}