.date-picker-wrapper {
	border-radius: 8px;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.18);
	background-color: #ffffff;
	padding: 15px;
	z-index: 9999;

	border: none;
	margin-top: 5px;
	font-family: $font;
	.month-wrapper {
		border: none;
		padding: 0;
	}
	.footer {
		display: none;
	}
	.gap {
		width: 15px;
		background-color: transparent;
		border-color: transparent;
	}
}
.date-picker-wrapper .gap .gap-line .gap-1 {
	border-color: transparent;
	background-color: transparent;
}


.date-picker-icon {
	color: #bbc1c7;
	font-size: 16px;

	position: absolute;
	top: 50%;
	right: 10px;
	transform: translate(0, -50%);
	z-index: 2;

	cursor: pointer;
}
.date-picker-wrap {
	// position: relative;
	.form-control {
		padding-left: 10px;
		padding-right: 30px;

	}
}
.date-picker-wrapper .month-wrapper table th.month-name {
	font-size: 16px;
	font-weight: 700;
	line-height: 1.38;
	letter-spacing: -0.23px;
	color: #0097fd;
}
.date-picker-wrapper .drp_top-bar {
	display: none;
}
.date-picker-wrapper table .caption .next, .date-picker-wrapper table .caption .prev {
	color: #0097fd;
	font-size: 16px;
}
.date-picker-wrapper table .caption .next {
	display: inline-block;
	transform: rotate(-90deg);
}
.date-picker-wrapper table .caption .prev {
	display: inline-block;
	transform: rotate(90deg);
}
.date-picker-wrapper .month-wrapper table td, .date-picker-wrapper .month-wrapper table th {
	font-size: 12px;
	line-height: 27px;
	font-weight: 700;
	text-transform: none;
	text-align: center;
	color: #9198a0;
	&:first-letter {
		text-transform: uppercase;
	}
}
.date-picker-wrapper .month-wrapper table td {
	padding: 0;
}

.date-picker {
	& + .date-picker-icon {
		& + {
			.date-picker-wrapper .month-wrapper table .day {
				&.toMonth {
					&.valid {
						&.tmp {
							background-color: transparent;
						}
					}
				}
			}
		}
	}
}

.date-picker-wrapper .month-wrapper table .day {
	padding: 0;
	width: 27px;
	line-height: 27px;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	color: #001424;
	&:hover {
		// background-color: #f2f3f7;
		color: #e30611;
	}
	&.toMonth {
		&.valid {
			color: #001424;
			&.checked {
				background-color: #f2f3f7;
				&.first-date-selected, &.last-date-selected {
					background-color: #e30611 !important;
				}
				&.real-today {
					// color: #001424;
					background-color: #f2f3f7;
				}
			}
			&.hovering {
				background-color: transparent;
				&.tmp {
					background-color: #f2f3f7;
					&.real-today {
						color: #001424;
					}
				}
			}
			&.real-today {
				background-color: transparent;
				color: #0097fd;
			}
			&:hover {
				color: #e30611;
			}
		}
	}
}
.date-picker-wrapper .date-range-length-tip {
	background-color: #001424;
	color: #fff;
	padding: 3px;
	margin-top: -10px;
	&:after {
		border-top-color: #001424;
	}
}
