.date-picker-wrap {
	position: relative;
	&_inline {

	}
	&_left {
		.datepicker-inline {
			position: absolute;
			top: auto !important;
			bottom: 0 !important;
			left: auto !important;
			right: 100% !important;
			margin-bottom: 0px;
			margin-right: 156px;
			margin-bottom: -28px;
		}
		.datepicker--pointer {
			left: 100% !important;
			// transform: rotate(90deg) !important;
			margin-left: -6px;
			bottom: 35px;
		}
	}
	&_left_max {
		.datepicker-inline {
			margin-right: 284px;
		}
		.datepicker--pointer {
			display: none;
		}
	}
	&_view-top {
		.datepicker {
			top: auto !important;
			bottom: 100% !important;
		}
		.datepicker--pointer {
			bottom: auto;
			top: calc(100% - 4px);
		}
	}
}
.datepicker-inline {
	&.visible {
		.datepicker {
			opacity: 1;
			visibility: visible;
		}
	}
}
.datepicker {
	// position: fixed;
	top: 100% !important;
	left: 0 !important;
	right: auto !important;
	bottom: auto !important;

	margin-top: 10px;
	margin-bottom: 10px;
	width: 240px;
	border: none;
	padding: 15px 10px;

	font-family: $font;

	transform: translate(0, 0) !important;
	border-radius: 8px;
	box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.18) !important;
	background-color: #ffffff;

	opacity: 0;
	visibility: hidden;
	transition: .2s linear .1s;
	&.visible {
		opacity: 1;
		visibility: visible;
	}
}
.datepicker--nav {
	border: none;
	align-items: center;
	padding: 0 10px;
	margin-bottom: 15px;
}
.datepicker--pointer {
	border: none;
}
.datepicker--nav-action {
	svg {
		width: 1em;
		height: 1em;
	}
	path {
		fill:inherit;
		stroke: inherit;
		stroke-width: 0;
	}

}
.datepicker--nav-title {
	padding: 0;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.38;
	letter-spacing: -0.23px;
	color: #001424;
	i {
		color: #001424;
	}
	&:hover {
		background-color: transparent;
		color: #0097fd;
	}
}
.datepicker--days-names {
	margin-bottom: 10px;
}
.datepicker--nav-action {
	font-size: 16px;
	color: #0097fd;
	width: 1em;
	height: 1em;
	&:hover {
		background-color: transparent;
		color: #e30611;
	}
	&[data-action="prev"] {
		transform: rotate(90deg);
	}
	&[data-action="next"] {
		transform: rotate(-90deg);
		
	}
}
.datepicker--content {
	padding: 0;
}
.datepicker--day-name {
	text-transform: none;
	font-size: 12px;
	font-weight: 700;
	color: #9198a0;
	&:first-letter {
		text-transform: uppercase;
	}
}
.datepicker--cell {
	height: 27px;
	// width: 27px;

	font-size: 14px;
	font-weight: 700;
	color: #001424;
	text-align: center;
	&.-weekend- {
		&.-current- {
			color: #0097fd;
		}
	}
	&.-focus- {
		color: #e30611;
		background-color: transparent;
	}
	&.-selected- {
		background-color: #e30611;
		color: #fff;
		&:hover {
			background-color: #e30611;
			color: #fff;
		}
		&.-current- {
			background-color: #e30611;
			color: #fff;
			&:hover {
				background-color: #e30611;
				color: #fff;
			}
		}
	}
}