.date-picker-box {
	width: auto;
	.svg-icon {
		right: auto;
		left: 70px;
		margin-top: 1px;
		color: #001424;
		&.position-applyed {
			left: 20px;
		}
	}
	.form-control {
		width: auto;
		padding-right: 40px;
		padding-left: 50px;
		transition: none;
		@include iph() {
			text-align: center;
			color: #001424;
		}
		&:focus {
			& + .svg-icon {
				left: 20px;
			}
		}
		&.dark {
			background-color: #001424;
			border-color: #001424;
			& + .svg-icon {
				color: #fff;
			}
		}
	}
	&:hover {
		.form-control {
			background-color: #001424;
			border-color: #001424;
			color: #fff;
			@include iph() {
				color: #fff;
			}
			& + .svg-icon {
				color: #fff;
			}
		}
	}
	&_special {
		width: 100%;
		.form-control {
			width: 100%;
			padding-right: 30px;
		}
		.svg-icon {
			left: 60px;
		}
		.date-picker-wrapper {
			left: auto !important;
			right: 0 !important;
		}
	}
}