.dropdown {
	&_wallet {
		padding-right: 12px;
		.dropdown-btn-icon {
			font-size: 17px;
			position: relative;
			top: -2px;
		}
		.dropdown-btn {
			font-weight: 700;
		}
	}
	&_products {
		.dropdown-btn-icon {
			font-size: 24px;
		}
	}
	&.show {
		.form-filter-control {
			box-shadow: none;
			outline: none;
			border-radius: 4px 4px 0 0;
			border-color: transparent;
			box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.18);
		}
		.form-control-shevron {
			transform: translate(0, -50%) rotate(180deg);
		}
		.dropdown-btn, .dropdown-btn-icon, .dropdown-btn-shevron {
			color: #E30611;
		}
	}
	&_view-top {
		.form-filter-drop {
			top: auto !important;
			bottom: 100% !important;
		}
	}
	&_tr-settings {
		position: static;
		.dropdown-menu {
			position: absolute;
			bottom: 100% !important;
			top: auto !important;
			right: 10px !important;
			width: 900px;
			margin: 0 0 10px;
			border-radius: 8px;
			background-color: #fff;
			border-color: transparent;
			box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.18);
			@include mxl() {
				margin: 0 0 20px;
				width: 800px;
			}
		}
	}
}
.dropdown-menu {
	// background-color: transparent;
	// border: none;
	// padding: 0;
	// margin: 0;
}
.dropdown-menu-in {
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.18);
	background-color: #ffffff;
	border-radius: 4px;
	overflow: hidden;

}
.dropdown-menu-paddings {
	padding: 20px;
}
.dropdown-btn {
	position: relative;
	color: #001424;
	&:focus {
		outline: none;
	}
	&:hover {
		.dropdown-btn-icon {
			color: #E30611;
		}
		.dropdown-btn-shevron {
			color: #e30611;
		}
	}
}
.dropdown-btn-shevron {
	font-size: 14px;
	color: #bbc1c7;
}
.dropdown-btn-icon {
	color: #9198A0;
	font-size: 18px;
	& + .dropdown-btn-txt {
		display: inline-block;
		margin-left: 5px;
	}
}
.dropdown-btn-txt {
	& + .svg-icon {
		margin-left: 10px;
	}
}
.dropdown-toggle-icon {

}
.dropdown-drop {

}

.dropdown-btn-indicator {
	position: absolute;
	top: -3px;
	right: -2px;
}
.dropdown-btn-img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	overflow: hidden;
}

.dropdown-popup {
	top: 100% !important;
	left: auto !important;
	right: 0 !important;
	transform: none !important;

	padding: 0;
	border: none;
	margin-top: 15px;

	box-shadow: 0 3px 24px 0 rgba(0, 0, 0, .2);
	background-color: #ffffff;
	border-radius: 10px;
	&:after {
		content: '';

		position: absolute;
		bottom: 100%;
		right: 10px;
		border-bottom: 11px solid #fff;
		border-left: 11px solid transparent;
		border-right: 11px solid transparent;
	}
	&_companys {
		right: -25px !important;
		&:after {
			right: 21px;
		}
	}
	&_notifications {
		width: 380px;
		right: -70px !important;
		&:after {
			right: 68px;
		}
	}
	&_products {
		width: 400px;
		padding: 20px;
		right: -70px !important;
		&:after {
			right: 71px;
		}
	}
	&_more {
		width: 400px;
		padding: 20px;
		right: -70px !important;
		@media only screen and (max-width: 1231px) {
			right: -15px !important;
		}
		&:after {
			right: 65px;
			@media only screen and (max-width: 1231px) {
				right: 10px;
			}
		}
	}
}
.dropdown-popup-in {
	border-radius: 10px;
	overflow: hidden;
	background-color: #fff;
}
.dropdown-popup-list {
}
.dropdown-popup-link {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	padding: 16px 20px;
	border-bottom: 1px solid #f2f3f7;

	color: #001424;
	line-height: 1.25;
	font-weight: 400;
	.svg-icon {
		font-size: 18px;
		color: #bbc1c7;
	}
	&:hover {
		text-decoration: none;
		color: #001424;
		background-color: rgba(#f2f3f7, .3);
	}
	&.active {
		color: #E30611;
		font-weight: 700;
		.dropdown-popup-radius {
			border-color: #E30611;
		}
		.svg-icon {
			color: #E30611;
		}
	}
	&_add {
		color: #9198a0;
		.dropdown-popup-radius {
			font-size: 30px;
			color: #fff;
			background-color: #BBC1C7;
			span {
				position: relative;
				top: -2px;

			}
		}
		.dropdown-popup-txt {
			color: #9198a0;
			font-size: 14px;
		}
		&:hover {
			color: #9198a0;
		}
	}
}
.dropdown-popup-txt {

}
.dropdown-popup-radius {
	flex-shrink: 0;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border: 1px solid #bbc1c7;
	border-radius: 50%;
	& + * {
		display: block;
		margin-left: 12px;
		white-space: nowrap;
	}
}
.company-name-img {
	width: 40px;
	height: 40px;
	flex-shrink: 0;
	& + * {
		display: block;
		margin-left: 12px;
		white-space: nowrap;
	}
}

.dropdown-popup-head {
	padding: 15px 20px;
	font-size: 16px;
	letter-spacing: -0.23px;
	border-bottom: 1px solid #f2f3f7;
}
.dropdown-user-name {
	color: #001424;
	font-weight: 700;
	white-space: nowrap;
}
.dropdown-user-mail {
	color: #bbc1c7;
	&:hover {
		color: #bbc1c7;
	}
}
.dropdown-popup-foot {
	border-top: 1px solid #f2f3f7;
}
.dropdown-list {
	li {

	}
}
.dropdown-list-link {
	display: block;
	padding: 14px 20px;
	letter-spacing: -0.23px;
	color: #001424;
	&:hover {
		color: #c90000;
		text-decoration: none;
	}
}

.dropdown-more {
	.dropdown-menu {
		left: auto !important;
		right: 0 !important;
	}
	&.show {
		.svg-icon-shevron {
			transform: rotate(180deg);
		}
	}
}

.dropdown-view {
	width: 90px;
	.svg-icon {
		color: #e30611;
		font-size: 12px;
		&_grey {
			color: #e2e5eb;
		}
	}
}

.dropdown-settings {
	.dropdown-popup {
		left: 0 !important;
		right: auto !important;
		&:after {
			left: 10px !important;
			right: auto !important;
		}
	}
	.dropdown-menu {
		margin-top: -10px;
	}
	.checkbox-txt {
		white-space: nowrap;
	}
	.checkbox-label {
		white-space: nowrap;
	}
}
.dropdown-popup-title {
	padding: 10px 15px;
	border-bottom: 1px solid #f2f3f7;
	// margin-bottom: 10px;

	font-size: 16px;
	font-weight: 700;
	color: #001424;
	white-space: nowrap;
}
.dropdown-sub-title {
	font-size: 16px;
	font-weight: 700;
	color: #001424;
}
.dropdown-padding {
	padding: 10px 15px 15px;
}
.dropdown-padding-small {
	padding: 10px 15px;
}


.dropdown-view {
	.dropdown-menu {
		min-width: auto;
		top: auto !important;
		bottom: 100% !important;
	}
}



.dropdown-form-wrap {
	padding: 0 20px 20px;
	.row {
		margin-left: -2px;
		margin-right: -2px;
	}
	.column {
		padding-left: 2px;
		padding-right: 2px;
	}
}

.dropdown-price {
	&_width_160 {
		.dropdown-menu {
			width: 135px;
		}
	}
	&.show {
		.button-list {
			border-color: #0097fd;
			.svg-icon {
				color: #0097fd;
			}
		}
	}
}