.dropdown-price {
	display: inline-block;
	.dropdown-btn {
		font-size: 14px;
		font-weight: bold;
		line-height: 1.57;
		color: #0097fd;
		cursor: pointer;
		position: relative;
		&:after {
			content: '';
			
			position: absolute;
			top: 100%;
			left: 0;

			width: 100%;
			margin-top: 2px;
			border-bottom: 2px dotted #001424;
		}
		&:hover {
			color: #0097fd;
		}
	}
	.dropdown-popup {
		top: auto !important;
		left: 50% !important;
		bottom: 100% !important;
		margin-bottom: 10px;
		transform: translate(-50%, 0) !important;
		&:after {
			border-bottom: none;
			border-top: 11px solid #fff;
			top: 100%;
			bottom: auto;
			right: auto;
			left: 50%;
			transform: translate(-50%, 0);
		}
	}
	.dropdown-btn-shevron {
		font-size: 10px;
	}
	.products-list-title {
		padding: 10px;
		margin: 0;
	}
	.checkbox-txt {
		font-weight: 400;
	}
	&.show {
		.dropdown-btn {
			color: #0097fd;
		}
	}
}
.dropdown-price-title {
	font-weight: 700;
	color: #001424;
	padding: 10px;
	&_border {
		border-bottom: 1px solid #f2f3f7;
	}
	&_sub {
		padding: 5px 10px 0;
	}
}
.dropdown-price-content {
	padding: 10px;
}
.dropdown-price-link {
	padding: 10px;
	width: 50%;
	border-top: 1px solid #f2f3f7;

	font-size: 16px;
	font-weight: 700;
	letter-spacing: -0.23px;
	text-align: center;
	color: #9198a0;
	&:hover {
		color: #0097fd;
	}
	& + .dropdown-price-link {
		border-left: 1px solid #f2f3f7;
	}
}