.dropdown-drop {
	position: relative;
	&.visible {
		.button-regular {
			color: #c90000;
			.svg-icon {
				color: #c90000;
			}
		}
	}
}
.dropdown-drop-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 999;

	opacity: 0;
	visibility: hidden;

	width: 100%;

	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.18);
	background-color: #ffffff;
	transition: linear .1s;
	&.visible {
		opacity: 1;
		visibility: visible;
	}
	&_view-top {
		top: auto;
		bottom: 100%;
	}
}
.dropdown-drop-in {

}