.filter-search {

}
.filter-search-control {
	padding-right: 40px;
}
.filter-search-clean {
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translate(0, -50%);

	color: #bbc1c7;
	font-size: 14px;
}
.filter-search-icon {

}