.form-filter {
	position: relative;
}
.form-filter-control {
	width: 100%;
	display: block;
	padding: 10px 15px;
	padding-right: 40px;
	color: #001424;
	height: auto;
	min-height: auto;
	line-height: 1;

	border-radius: 4px;
	border: solid 2px #e2e5eb;
	background-color: #ffffff;
	@include iph() {
		color: #bbc1c7;
	}
	&:focus {
		outline: none;
		box-shadow: none;
		border-color: #e2e5eb;
	}
	
}
.form-filter-drop {
	top: 100% !important;
	left: 0 !important;
	right: 0 !important;
	transform: none !important;
	z-index: 999;
	// min-width: 250px;
	border-radius: 0 0 4px 4px;
	box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.18);
	background-color: #ffffff;
	border: none;
	margin: 1px 0 0;
	padding: 0;
	&_angle {
		&:before {
			content: '';
			
			position: absolute;
			bottom: 100%;
			left: 50%;
			transform: translate(-50%, 0);

			border-bottom: 11px solid #fff;
			border-left: 11px solid transparent;
			border-right: 11px solid transparent;
			// width: 22px ;
			// height: 22px ;
			// background-color: #fff ;
			// box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.18);

		}
	}
}
.form-filter-drop-head {
	padding: 12px;
	background-color: rgba(#f2f3f7, .3);
}
.form-filter-list {
	li {
		position: relative;
		border-top: 1px solid #f2f3f7;
		&:first-child {
			border-top: none;
		}
		.button-edit {
			position: absolute;
			top: 50%;
			right: 25px;
			transform: translate(0, -50%);
		}
		.svg-icon {
			&:not(.checkbox-icon) {
				font-size: 16px;
				color: #bbc1c7;
				margin-left: 10px;
			}
		}
	}
	a {
		position: relative;
		display: block;
		padding-right: 40px;
		padding: 16px;

		font-size: 16px;
		line-height: 1;
		letter-spacing: -0.23px;
		color: #001424;

		background-color: #fff;
		&:hover {
			background-color: #f2f3f7;
			text-decoration: none;
		}
	}
}

.product-dropdown {
	.dropdown-menu {
		width: 205px;
		top: 40px !important;
		right: -5px !important;
		left: auto !important;
		transform: none !important;
		&:before {
			left: auto;
			right: 10px;
		}
	}
	.form-filter-list {
		text-align: center;
	}
	&.show {
		.svg-icon_shevron {
			transform: translate(0, -50%) rotate(-180deg);
		}
	}
}