.form {

}
.form-regular {

}
.form-title {
	font-size: 27px;
	line-height: 33px;
	color: #001424;
}
.form-title-icon {
	font-size: 14px;
	color: #bbc1c7;
	margin-left: 8px;
}

.form-title-link {
	position: relative;
	color: #0097fd;
	&:after {
		content: '';
		position: absolute;
		bottom: -5px;
		left: 0;
		width: 100%;

		border-bottom: 2px dotted #001424;
	}
	&:hover {
		color: #0097fd;
		text-decoration: none;
	}

}

.form-title-dropdown {
	.form-filter-drop {
		min-width: auto;
		width: 136px;
		text-align: center;
		top: 100% !important;
		right: auto !important;
		left: 50% !important;
		transform: translate(-50%, 0) !important;
		
		margin-top: 20px;
		border-right: 8px;
		background-color: transparent;
		box-shadow: none;
		&:before {
			content: '';
			
			position: absolute;
			bottom: 100%;
			margin-bottom: -3px;
			left: 50%;
			transform: translate(-50%, 0);
			z-index: 2;

			border-bottom: 11px solid #fff;
			border-left: 11px solid transparent;
			border-right: 11px solid transparent;

			// width: 22px ;
			// height: 22px ;
			// background-color: #fff ;
			// box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.18);
			// transform: rotate(45deg);
			// z-index: 1;
		}
		.form-filter-list {
			position: relative;
			z-index: 1;
			border-radius: 8px;
			background-color: #fff;
			box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.18);
			overflow: hidden;
		}
		a {
			font-size: 16px;
			letter-spacing: -0.23px;
			color: #001424;
			&:hover {
				color: #0097fd;
				background-color: #fff;
			}
		}

	}
}


.form-edit {
	// width: 200px;
	.form-control {
		border-radius: 0;
		padding-right: 40px;
		border-bottom: none;
		border-right: none;
		border-left: none;
	}
	.svg-icon {
	}
	textarea {
		border: none;
		font-size: 16px;
		line-height: 1.5;
		padding-right: 15px;
	}
	.svg-icon_close {
		font-size: 12px;
	}
	&_alternative {
		position: relative;
		.form-control {
			border-top: none;
			padding-right: 60px;
		}
	}
}
.form-edit-btn {
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translate(0, -50%);

}
.form-edit-result {
	font-size: 16px;
	line-height: 1.5;
	padding: 30px 40px 15px 15px;
	white-space: nowrap;
}
.form-edit-group {
	padding-top: 30px;

}
.form-edit-group, .form-edit-result {
	&.hide {
		display: none;
	}
	&.show {
		display: block;
	}

}
.form-edit-btns {
	position: absolute;
	right: 15px;
	top: 8px;
	&_position_right_center {
		right: 15px;
		top: 50%;
		transform: translate(0, -50%);
	}
}


.bank-form {

}
.bank-form-notify {
	border-radius: 8px;
	background-color: #f2f3f7;
}
.bank-form-wrap {
	position: relative;
	margin-top: -40px;
	opacity: 0;
	visibility: hidden;
	transition: linear .1s;
}