.form-control {
	width: 100%;
	font-weight: 400;
	font-size: 16px;
	padding: 11px 15px 9px;
	color: #001424;
	height: auto;
	min-height: auto;
	line-height: 1;

	border-radius: 4px;
	border: solid 2px #e2e5eb;
	background-color: #ffffff;
	resize: none;

	opacity: .6;

	@include iph() {
		color: #bbc1c7;
	}
	&::-webkit-search-decoration,
	&::-webkit-search-cancel-button,
	&::-webkit-search-results-button,
	&::-webkit-search-results-decoration {
		-webkit-appearance:none;
	}
	&::-webkit-inner-spin-button,
	&::-webkit-calendar-picker-indicator,
	&::-webkit-clear-button {
		display: none;
		-webkit-appearance: none;
	}
	&:hover {
		&:not([disabled]) {
			opacity: 1;
			& + .svg-icon {
				opacity: 1;
			}
		}
	}
	&:focus {
		outline: none;
		opacity: 1;
		color: #001424;
		box-shadow: none;
		border-color: #0097fd;
		@include iph() {
			opacity: 0;
			visibility: hidden;
		}
		& + .svg-icon {
			opacity: 1;
		}
	}
	&.error {
		border-color: #e30611;
		opacity: 1;
		& + .svg-icon {
			opacity: 1;
		}
		&:focus {
			border-color: #0097fd;
		}
	}
	&.succes {
		color: #001424;
		opacity: 1;
		& + .svg-icon {
			opacity: 1;
		}
	}
	&.date-picker, &.date-picker-range {
		opacity: 1;
		&:focus {
			border-color: #e2e5eb;
		}
	}
	&_small {
		width: 130px;
	}
	&_count {
		width: 87px;
	}
	&_red {
		color: #e30611;
	}
	&_placeholder_red {
		@include iph() {
			color: #e30611;
		}
	}
	&_width_60 {
		width: 60px;
	}
	&_width_110 {
		width: 110px;
	}
	&_width_140 {
		width: 140px;
	}
	&_width_240 {
		width: 240px;
	}
	&_width_430 {
		width: 430px;
	}
	&[disabled] {
		opacity: .6;
		border: solid 2px #e2e5eb;
		background-color: #ffffff;
		&.disabled {
			background-color: #eff0f4;
			border-color: #eff0f4;
			opacity: 1;
			color: #e30611;
		}
	}
}
.form-control-shevron {
	color: #bbc1c7;
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translate(0, -50%);
}

.form-control-box {
	position: relative;
	.form-control {
		background-color: transparent;
		border: none;
		border-bottom: 2px solid #e2e5eb;
		color: #001424;

		border-radius: 0;
		@include iph() {
			color: #bbc1c7;
		}
		& + .svg-icon {
			opacity: .6;
		}
		&:focus {
			border-color: transparent;
			border-bottom-color: #0097fd;
		}
		&.error {
			border-bottom-color: #e30611;
			&:focus {
				border-bottom-color: #0097fd;
			}
		}
	}
	.svg-icon {
		position: absolute;
		top: 50%;
		right: 5px;
		transform: translate(0, -50%);

		font-size: 14px;
		color: #bbc1c7;
	}
}

.form-control-wrap {
	.form-control {
		&[value] {
			opacity: 1;
			border-color: #e2e5eb;
			background-color: #e2e5eb;
			color: rgba(#333333, .56);
		}
	}
}

.form-control-icon {
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translate(0, -50%);
}

.form-control-link {
	border: 2px dotted #9198a0;
	color: #0097fd;
}