.header {
	position: sticky;
	// overflow: hidden;
	top: 0;
	left: 0;
	z-index: 9999;

	width: 100%;
	background-color: #fff;

	// &:before {
	// 	content: '';
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	bottom: 0;
	// 	width: 100%;
	// 	background-color: #fff;
	// }
	&_fixed {
		.container-fluid {
			border-bottom: 1px solid #e2e5eb;
		}
	}
	.container-fluid {
		position: relative;
		padding-top: 14px;
		padding-bottom: 14px;
		background-color: #fff;
		border-bottom: 1px solid transparent;
	}
	&_v3 {
		.menu-nav-item:after {
			top: 100%;
			margin-top: 12px;
		}
	}
}
.header-logo {
	margin-right: 5px;
}
.header-others-row {
	margin-left: -8px;
	margin-right: -8px;
}
.header-others-column {
	padding-left: 8px;
	padding-right: 8px;
	&_wallet {
		padding-right: 20px;
	}
}