.inputFile {
	position: relative;
	display: inline-block;
	&_transparent {
		.inputFile-btn {
			background-color: transparent;
		}
	}
}
.inputFile-input {

}
.inputFile-label {
	cursor: pointer;
	margin: 0;
}
.inputFile-btn {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 44px;
	height: 44px;
	border-radius: 4px;
	border: solid 2px #e2e5eb;
	background-color: #ffffff;
	&:hover {
		background-color: #f2f3f7;
	}
}
.inputFile-icon {
	font-size: 16px;
	color: #001424;
}