.invoice-wrap {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 9999;

	background-color: rgba(#333, .8);

	display: flex;
	flex-direction: column;

	opacity: 0;
	visibility: hidden;
	transition: linear .2s;
	overflow: hidden;
	.form-group {
		margin-bottom: 20px;
	}
	&.visible {
		opacity: 1;
		visibility: visible;
		.invoice-wrap-in {
			right: 0;
		}
	}
	&.stub {
		.invoice-wrap-foot {
			&:before {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}
.invoice-wrap-in {
	// position: absolute;
	position: relative;
	margin-left: auto;
	right: -100%;
	top: 0;

	width: 503px;
	padding: 25px 30px 30px;

	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: space-between;

	background-color: #fff;
	transition: linear .6s;
}
.invoice-wrap-close {
	position: absolute;
	top: 10px;
	right: 20px;
}

.invoice-wrap-title {
	font-size: 20px;
	margin-bottom: 20px;
}

.invoice-wrap-scroll {
	overflow-y: auto;
	padding-right: 30px;
	&.mCS_no_scrollbar {
	}
}


.invoice-wrap-foot {
	position: relative;
	&:before {
		content: '';

		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;

		background-color: rgba(#fff, .8);
		z-index: 999;

		opacity: 0;
		visibility: hidden;
	}
}