.line-progress {
	position: relative;
	width: 332px;
	height: 18px;
	border-radius: 14px;
	background-color: #f2f3f7;
	@include mxl() {
		width: 250px;
	}
}

.line-progress-scale {
	border-radius: 14px;
	background-image: linear-gradient(to right, #cbf44f, #26cd58);
}

.line-progress-prize {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(0, -50%);

	width: 48px;
	height: 48px;
	border-radius: 50%;
	background-color: #bbc1c7;
	img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	&.colored {
		background-color: #26cd58;
	}
}