.link {
	color: #0097fd;
	display: inline-block;
	&:hover {
		color: #0048aa;
		text-decoration: none;
	}
	&:focus {
		outline: none;
	}
	&_hover_blue {
		&:hover {
			color: #0097fd;
		}
	}
	&_nowrap {
		white-space: nowrap;
	}
	&_bold {
		font-weight: 700;
	}
	&_collapse {
		.link-shevron {
			transform: rotate(-180deg);
		}
		&.collapsed {
			.link-shevron {
				transform: rotate(0);
				// transform: rotate(-180deg);
			}
		}
	}
	&_title {
		position: relative;
		&:before {
			content: '';

			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			margin-top: 2px;
			border-bottom: 2px dotted #000;
		}
		.svg-icon {
			font-size: 14px;
			color: #bbc1c7;
			margin-left: 8px;
		}
	}
	&_font-14 {
		font-size: 14px;
	}
	&_decoration_none {
		&:hover {
			text-decoration: none !important;
		}
	}
	&_dark {
		color: #001424;
		&:hover {
			color: #001424;
			text-decoration: underline;
		}
	}

}
.link-border-dotted {
	border-bottom: 1px dotted #000;
	&:hover {
		border-bottom-color: transparent;
		color: #0097fd;
	}
}
.link-txt {
	& + .svg-icon {
		margin-left: 5px;
	}
}
.link-shevron {
	font-size: 12px;
	&_right {
		transform: rotate(-90deg);
	}
}
