.loaded-file {
	display: inline-flex;
	flex-wrap: nowrap;
}
.loaded-file-icon {
	flex-shrink: 0;
	font-size: 50px;
	color: #bbc1c7;
	margin-right: 10px;
}
.loaded-file-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.loaded-file-name {
	width: 120px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.loaded-file-size {
	color: #bbc1c7;
	vertical-align: middle;
}