.logo {
	display: inline-block;
	font-size: 24px;
	line-height: 24px;
	&:hover {
		text-decoration: none;
		.logo-img {
			transform: rotateY(180deg);
		}
	}
}
.logo-img {
	width: 32px;
	height: 32px;
	margin-right: 6px;
	transition: linear .4s;
}
.logo-txt {
	display: inline-block;
	vertical-align: middle;
	color: #E30611;
	font-weight: 700;
}
