.menu-nav {
	display: flex;
	.dropdown {
		&.show {
			.dropdown-btn {
				color: #E30611;
				.svg-icon {
					color: #E30611;
				}
			}
			// .dropdown-popup-link {
			// 	.svg-icon {
			// 		color: #E30611;
			// 	}
			// }
			// .dropdown-popup-radius {
			// 	border-color: #E30611;
			// }
			// .dropdown-popup-txt {
			// 	font-weight: 700;
			// 	color: #E30611;
			// }
		}
	}
}
.menu-nav-item {
	position: relative;
	padding: 25px 20px 24px;
	padding: 11px 20px 10px;
	@include mxl() {
		// padding: 25px 15px;
	}
	&:after {
		content: '';

		position: absolute;
		bottom: -5px;
		left: 20px;
		right: 20px;

		height: 2px;
		background-color: #E30611;

		opacity: 0;
		visibility: hidden;
		@include xl() {
			top: 100%;
			margin-top: 12px;
		}
	}
	&.active {
		.menu-nav-link {
			color: #E30611;
			font-weight: 700;
		}
		&:after {
			opacity: 1;
			visibility: visible;
		}
	}
	.dropdown-btn {
		&:hover {
			color: #E30611;
			&:after {
				border-color: #E30611;
			}
		}
	}
}
.menu-nav-link {
	display: block;
	// padding: 27px 0 27px;
	color: #001424;
	&:hover {
		text-decoration: none;
		color: #E30611;
	}
}