.modal-backdrop {
	background-color: transparent;
	display: none;
}
.modal {
	background-color: rgba(#333, .8);
	z-index: 99999;
	// overflow-y: auto;
	.form-group {
		margin-bottom: 30px;
	}
}
.modal-close {
	position: absolute;
	right: -35px;
	top: 0;
	font-size: 20px;
	color: #fff;

	opacity: 1 !important;
	&:hover {
		color: #fff;
		opacity: .8 !important;
	}
}
.modal-dialog {
	@include sm() {
		max-width: 840px;
	}
	&_width-535 {
		@include sm() {
			max-width: 535px;
		}
	}
	&_width-600 {
		@include sm() {
			max-width: 600px;
		}
	}
}
.modal-dialog-large {
	@include sm() {
		max-width: 920px;
	}
}

.modal-content {
	padding: 30px;
	border: none;
}
.modal-title {
	margin-bottom: 30px;
}


.modal-close {
	&:focus {
		outline: none;
	}
}