.nav-tabs-row {
	position: relative;
	z-index: 2;
}
.nav-tabs {
	border-bottom-color: #f2f3f7;
	.nav-link {
		border-bottom: 2px solid transparent;
		.svg-icon {
			color: #bbc1c7;
		}
		&:hover, &:focus {
			color: #e30611;
			border-color: transparent;
		}
		&.active {
			color: #e30611;
			font-weight: 700;
			border-color: transparent;
			border-bottom-color: #e30611;
			background-color: transparent;
			.svg-icon {
				color: #bbc1c7;
			}
		}
		&.checked {
			color: #001424;
			// font-weight: 700;
			.svg-icon {
				color: #e30611;
			}
			&:hover {
				color: #e30611;
				// font-weight: 400;
				.svg-icon {
					color: #bbc1c7;
				}
			}
		}
	}
	&_border_transparent {
		border-bottom-color: transparent;
	}
	&_border_bottom_grey {
		border-bottom-color: #e2e5eb;
	}
	&_indents_else {
		.nav-item {
			padding-left: 12px;
			padding-right: 28px;
		}
	}
	&_indents_alternative {
		.nav-item {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
}
.nav-item {
	padding-left: 0;
	padding-right: 40px;
}
.nav-link {
	display: block;
	padding: 11px 0;
	font-size: 16px;
	color: #001424;
	&[data-step-preview] {
		&:hover {
			// color: #001424 !important;
		}
	}
}