.notification-list {
	li {
		&:last-child {
			a {
				border-bottom: none;
			}
		}
	}
}
.notification-link {
	display: block;
	white-space: nowrap;
	padding: 20px 23px;
	color: #001424;
	border-bottom: 1px solid #f2f3f7;
	&:hover {
		color: #001424;
		text-decoration: none;
		background-color: rgba(#f2f3f7, .3);
	}
}
.notification-img {
	flex-shrink: 0;
	width: 38px;
	display: inline-block;
	vertical-align: top;
	& + span {
		display: inline-block;
		margin-left: 10px;
	}
}
.notif-marker {
	display: inline-flex;
	vertical-align: top;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 44px;
	height: 44px;
	border-radius: 8px;
	text-align: center;
	& + span {
		display: inline-block;
		margin-left: 10px;
	}
	.svg-icon {
		font-size: 36px;
		color: #fff;
	}
	&_dark {
		background-color: #001424;
	}
	&_red {
		background-color: #e30611;
	}
	&_grey {
		background-color: #bbc1c7;
	}

}
.notification-message {
	display: inline-block;
	font-size: 16px;
	line-height: 1.38;
	letter-spacing: -0.23px;
	color: #001424;
}
.notification-time {
	font-size: 14px;
	letter-spacing: -0.2px;
	color: #bbc1c7;
}
.all-notifications {
	display: block;
	text-align: center;
	padding: 15px 20px 14px;
	border-top: 1px solid #f2f3f7;
	background-color: #fbfbfc;
}