.nstSlider-wrap {
	position: relative;
}
.nstSlider {
	width: 200px;
	height: 4px;
	border-radius: 4px;
	background-color: #e2e5eb;
}
.nstSlider .rightGrip, .nstSlider .leftGrip {
	background-color: #e30611;
	color: #fff;
	width: 22px;
	height: 22px;

	top: 50%;
	transform: translate(0, -50%);
	&:focus {
		outline: none;
	}
	&:after {
		content: '';

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}
.leftGrip-icons {

}
.leftGrip-in {
	position: absolute;
	bottom: 100%;
	left: 50%;
	transform: translate(-50%, 0);
	margin-bottom: 5px;
	color: #001424 !important;
}