.page-grid {
	padding: 20px 0 40px;
}
.page-sidebar {
	width: 100%;
	max-width: 25%;
	flex: 0 0 25%;
	@include xl() {
		max-width: 20%;
		flex: 0 0 20%;
	}
}
.page-content {
	position: relative;
	width: 100%;
	max-width: 75%;
	flex: 0 0 75%;
	@include xl() {
		max-width: 80%;
		flex: 0 0 80%;
	}
}

.page-head {
	margin-top: -10px;
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-bottom: 10px;
	}
	.button-regular {
		margin-bottom: 10px;
	}
}

.page-in-sidebar {
	width: 100%;
	max-width: 30%;
	flex: 0 0 30%;
	@include xl() {
		padding-left: 40px;
	}
	.button-regular {
		margin-bottom: 12px;
		// width: 100%;
	}
	&_absolute {
		position: absolute;
		top: 0;
		right: 0;
		background-color: #fff;
	}
}

.page-in-content {
	width: 100%;
	max-width: 70%;
	flex: 0 0 70%;
}

.page-border {
	border: 1px solid #e7eafa;
	padding: 0 16px 16px;
	.button-list {
		margin-top: -1px;
	}
	&_min-height_234 {
		min-height: 234px;
	}
	&_dotted {
		border-style: dotted;
	}
	&_dashed {
		border-style: dashed;
	}
	&_grey {
		border-color: #e2e5eb;
	}
	&_width_2 {
		border-width: 2px;
	}
}

.column-61 {
	max-width: 61%;
	flex: 0 0 61%;
}
.column-39 {
	max-width: 39%;
	flex: 0 0 39%;
}