.nav-pagination {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	li {
		font-size: 16px;
		text-align: center;
		color: #6e7782;
		padding-left: 9px;
		padding-right: 9px;
		&.active {
			a {
				border-color: #e30611;
				color: #e30611;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
	a {
		display: block;
		padding: 6px 11px 5px;
		border: solid 1px transparent;
		border-radius: 8px;
		color: #6e7782;
		&:hover {
			color: #e30611;
			text-decoration: none;
		}
	}
}
.pagination {
	li {
		&.active {
			a {
				background-color: #e30611;
				border-color: #e30611;
				color: #fff;
			}
		}
	}
}