.popup-dropdown {
	.dropdown-menu {
		left: 0 !important;
		top: 100% !important;
		transform: none !important;
		margin: 15px 0 10px;
		padding: 0;
		border-color: transparent;

		border-radius: 8px;
		box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.18);
		background-color: #ffffff;

		color: #001424;
		&:before {
			content: '';

			position: absolute;
			bottom: 100%;
			left: 15px;
			bottom: 100%;
			width: 18px;
			height: 18px;
			transform: rotate(45deg);
			margin-bottom: -9px;

			background-color: #fff;
			box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.18);
		}
	}
	&_position-shevron {
		.dropdown-menu {
			top: 30px !important;
			right: -5px !important;
			left: auto !important;
			&:before {
				left: auto;
				right: 20px;
			}
		}
	}
	&_storage {
		.dropdown-menu {
			width: 200px;
			top: 25px !important;
			left: -10px !important;
			&:before {
				left: 89px;
			}
		}
	}
	&_filter {
		.dropdown-menu {
			width: 456px;
			top: 25px !important;
			left: 50% !important;
			margin-left: 18px;
			transform: translate(-50%, 0) !important;
			&:before {
				left: 50%;
			}
		}
		&.show {
			&.show {
				.svg-icon-shevron {
					transform: rotate(180deg);
				}
			}
		}
	}
	&_filter_small {
		.dropdown-menu {
			width: 240px;
		}
	}
	&_table-settings {
		.dropdown-menu {
			width: 225px;
			left: 50% !important;
			transform: translate(-50%, 0) !important;
			margin-top: -10px;
			&:before {
				left: 50%;
				margin-left: -11px;
			}
		}
	}
	&_calendar {
		.dropdown-menu {
			width: 560px;
			right: -15px !important;
			left: auto !important;
			top: 30px !important;
			@include mxl() {
				width: 500px;
				right: auto !important;
				left: 250px !important;
			}
			&:before {
				left: 367px;
				@include mxl() {
					left: 20px;
				}
			}
		}
		.popup-dropdown-in {
			padding: 6px 12px;
		}
		.row {
			margin-left: -6px;
			margin-right: -6px;
		}
		.column, [class*="col-"] {
			padding: 6px;
			margin: 0 !important;
		}
	}
	&_right {
		.dropdown-menu {
			left: auto !important;
			right: -13px;
			&:before {
				left: auto;
				right: 10px;
			}
		}
	}
	&.show {
		.button-regular {
			&[data-toggle="dropdown"] {
				color: #e30611;
				.svg-icon {
					color: #e30611;
				}
			}
		}
	}
	&.itemsSelected {
		.button-regular {
			&[data-toggle="dropdown"] {
				background-color: #e30611;
				border-color: #e30611;
				color: #fff;
				.svg-icon {
					color: #fff;
				}
			}
		}
	}
}

.popup-dropdown-in {
	position: relative;
	background-color: #fff;
	border-radius: 8px;
	// overflow: hidden;
}
.popup-dropdown-title {
	padding: 11px 16px;

	font-size: 16px;
	font-weight: 700;
	color: #001424;
}
.popup-devider {
	margin: 0;
	border: none;
	border-bottom: 1px solid #f2f3f7;
}
.popup-content {
	padding: 0 16px 0;
	border-bottom: 1px solid transparent;
}