.products-list-title {
	font-weight: 700;
	color: #001424;
	text-align: center;
	margin-bottom: 10px;
}
.products-list {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 10px;
	li {
		width: 100%;
		flex: 0 0 4 / 12 * 100%;
		max-width: 4 / 12 * 100%;
	}
}
.products-list-link {
	display: block;
	padding: 15px;
	border: 1px solid transparent;
	font-size: 16px;
	line-height: 1.13;
	letter-spacing: -0.23px;
	text-align: center;
	color: #001424;
	border-radius: 4px;
	transition: linear .1s;
	.products-link-img, .notif-marker {
		& + span {
			display: block;
			margin-left: 0;
			margin-top: 10px;
		}
	}
	&:hover {
		text-decoration: none;
		border-color: #f2f3f7;
		color: #001424;
	}
}
.products-link-img {
	display: inline-block;
	width: 44px;
}
.products-link-txt {
	display: block;
}