.radio {
	position: relative;
	display: inline-block;
	&_dot {
		.radio-pseudo {
			&:after {
				content: '';

				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 18px;
				height: 18px;
				border-radius: 50%;

				border: 2px solid #e2e5eb;
			}
		}
		.radio-input {
			&:checked {
				& + label {
					.radio-pseudo {
						border-color: #fff;
					}
				}
			}
		}
	}
	&_red {
		.radio-input {
			&:checked {
				& + label {
					.radio-pseudo {
						background-color: #e30611;
					}
				}
			}
		}
	}
	&_dark {
		.radio-input {
			&:checked {
				& + label {
					.radio-pseudo {
						background-color: #001424;
					}
				}
			}
		}
	}
	&_join {
		.button-regular {
			// min-width: 180px;
			border-radius: 4px 0 0 4px;
			cursor: pointer;
		}
		.radio-input {
			&:checked + .button-regular {
				background-color: #e30611;
				border-color: #e30611;
				color: #fff;
			}
		}
		& + .radio_join {
			.button-regular {
				border-radius: 0 4px 4px 0;
				margin-left: -1px;
			}
		}
	}
}
.radio-input {
	&:checked {
		& + label {
			.radio-pseudo {
				border: 5px solid #e30611;
			}
		}
	}
}
.radio-label {
	// width: 100%;
	position: relative;
	min-width: 18px;
	min-height: 18px;
	display: inline-block;
	position: relative;
	padding-left: 20px;
	margin: 0;
}
.radio-pseudo {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	vertical-align: top;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	border: solid 2px #e2e5eb;
	transition: linear .1s;
	background-color: #ffffff;

	font-size: 0;
	& + .radio-txt, & + .radio-txt-bold {
		margin-left: 6px;
	}
}

.radio-txt, .radio-txt-bold {
	display: inline-block;
	color: #001424;
	margin: 0;
	// line-height: 1.5;
	.form-control {
		width: 75px;
		display: inline-block;
		font-weight: 700;
		text-align: right;
	}
}
.radio-txt-bold {
	font-weight: 700;
}