.sidebar-menu {
	
}
.sideabar-menu-item {
	border-bottom: 1px solid #e7eafa;
	padding: 10px 0;
	&:first-child {
		padding-top: 5px;
	}
}
.sidebar-menu-head {

}
.sidebar-menu-btn {
	position: relative;
	width: 100%;

	font-size: 16px;
	color: #001424;
	display: block;

	text-align: left;
	padding-right: 20px;
	&:hover {
		// color: #e30611;
		// text-decoration: none;
		.svg-icon {
			// color: #e30611;
		}
	}
	&:not(.collapsed) {
		font-weight: 700;
		color: #e30611;
		.sidebar-menu-icon {
			color: #e30611;
		}
		.sidebar-menu-angle {
			transform: translate(0, -50%) rotate(0);
			color: #e30611;
		}
	}
}
a.sidebar-menu-btn {
	.sidebar-menu-angle {
		display: none;
	}
	&:not(.collapsed) {
		font-weight: 400;
		color: #001424;
		.sidebar-menu-icon {
			color: #bbc1c7;
		}
		.sidebar-menu-angle {
			transform: translate(0, -50%) rotate(-90deg);
			color: #bbc1c7;
		}
		&:hover {
			color: #e30611;
			text-decoration: none;
			.svg-icon {
				color: #e30611;
			}
		}
	}
	&.active {
		color: #e30611;
		font-weight: 700;
		.sidebar-menu-icon {
			color: #e30611;
		}
	}
}
.sidebar-menu-icon {
	position: relative;
	top: -1px;
	color: #bbc1c7;
	font-size: 22px;
	margin-right: 14px;
}
.sidebar-menu-angle {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translate(0, -50%) rotate(-90deg);
	font-size: 14px;
	color: #bbc1c7;
}
.sidebar-menu-btn-txt {

}
.sidebar-menu-body {

}
.sidebar-menu-list {
	padding-left: 40px;
	li {
		max-width: 170px;
	}
	a {
		font-size: 16px;
		font-weight: 300;
		line-height: 1.63;
		color: #001424;
		&:hover {
			text-decoration: none;
			color: #e30611;
		}
		&.active {
			color: #e30611;
			font-weight: 400;
		}
	}
}