.sidebar {
	// height: 100%;
	overflow-y: hidden;
	display: flex;
	flex-direction: column;
	&_fixed {
		position: sticky;
		top: 90px;
	}
}
.sidebar-scroll {
	flex-grow: 1;
	overflow-y: auto;
}
.sidebar-title {
	margin-left: -8px;
	margin-right: -8px;
	.column {
		padding-left: 8px;
		padding-right: 8px;
	}
}