.switch {
	position: relative;
	line-height: 1;
}
.switch-input {
	&:checked {
		& + label {
			.switch-pseudo {
				&:after {
					background-color: #26cd58;
					left: 15px;
				}
			}
		}
	}
}
.switch-label {
	position: relative;
	padding-left: 34px;
	margin: 0;
	min-width: 34px;
	min-height: 20px;
}
.switch-pseudo {
	position: absolute;
	left: 0;
	top: 1px;
	display: inline-block;
	width: 34px;
	height: 20px;
	border-radius: 10px;
	border: solid 2px #e2e5eb;
	background-color: #ffffff;
	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 50%;
		left: 3px;
		transform: translate(0, -50%);

		width: 12px;
		height: 12px;

		border-radius: 10px;
		background-color: #d0d8e5;
		transition: linear .1s;
	}
}

.switch-txt {

}
.switch-txt-bold {
	font-weight: 700;
}