.symbol {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}
.symbol-square, .symbol-circle {
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 2px;
	flex-shrink: 0;
	margin-right: 6px;
	&_blue {
		background-color: #4e9fb0;
	}
	&_yellow {
		background-color: #f3b73b;
	}
	&_blue_transparent {
		border: 2px solid #4e9fb0;
		background-color: transparent;
	}
	&_yellow_transparent {
		border: 2px solid #f3b73b;
		background-color: transparent;
	}
	&_green {
		background-color: #67c3a0;
	}
	&_grey {
		background-color: #979797;
	}
	&_grey-light {
		background-color: #e2e5eb;
	}
	&_green_transparent {
		background-color: transparent;
		border: 2px solid #3a8f6f;
	}
}
.symbol-line {
	display: block;
	width: 10px	;
	height: 4px;
	border-radius: 2px;
	background-color: #001424;
	margin-right: 6px;
}
.symbol-circle {
	border-radius: 50%;
}
.sumbol-descr {
	font-size: 12px;
	color: #9198a0;
	font-weight: 300;
}