.table-settings {
	margin-top: -10px;
	button {
		margin-bottom: 10px;
	}
	.form-control {
		margin-bottom: 10px;
	}
	.button-regular_red {
		// padding-left: 20px;
		// padding-right: 20px;
	}
	.dropdown {
		// margin-bottom: 10px;
	}
	.form-group {
		margin-bottom: 0;
	}
	.sub-title {
		margin-bottom: 10px;
	}
}
.table-settings-view {
	margin-top: -10px;
	.nav-pagination {
		li {
			margin-bottom: 10px;
		}
	}
	.form-group {
		margin-bottom: 10px;
	}
}

.table-wrap {
	// width: 1015px;
}
.table-style {
	border: none;
	.form-filter {
		
	}
	thead {
		tr {
			&:nth-child(2) {
				th {
					border-top: 1px solid #f2f3f7;
				}
			}
		}
		th {
			padding: 15px;
			border: none;
			border-right: 1px solid #f2f3f7;

			font-size: 14px;
			font-weight: 700;
			line-height: 1.3;
			color: #9198a0;
			&:last-child {
				border-right-color: transparent;
			}
		}
	}
	tbody {
		td {
			vertical-align: middle;
			// width: 20%;
			padding: 5px;
			border-top: 1px solid #f2f3f7;
			border-right: 1px solid #f2f3f7;
			&:last-child {
				border-right-color: transparent;
			}
		}
	}
	&_2 {
		thead {
			th {
				border-bottom: 1px solid #f2f3f7;
				padding-top: 5px;
				padding-bottom: 5px;
			}
		}
		tbody {
			tr {
				&:first-child {
					td {
						padding-top: 15px;
					}
				}
			}
			td {
				border-top: none;
				padding: 8px 15px;
			}
		}
	}
}
.table-count {
	tbody {
		td {
			&:nth-child(2) {
				width: 376px;
			}
			&:last-child {
				width: 130px;
			}
		}
	}
}
.table-count-cell {
	padding: 10px;
	&_nowrap {
		white-space: nowrap;
	}
}

.table-count-icon {
	color: #9198a0;
	&_small {
		font-size: 14px;
	}
}

.table-goods {
	thead {
		tr {
			th {
				vertical-align: middle;
			}
		}
	}
	tbody {
		tr {
			td {
				&:nth-child(2) {
					width: 250px;
				}
			}
		}
	}
}

.table-title {
	display: block;
	font-size: 14px;
	font-weight: 700;
	line-height: 1.57;
	color: #9198a0;
	position: relative;
	padding-right: 10px;
	.svg-icon {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translate(0, -50%);
		color: #bbc1c7;
		font-size: 10px;
	}
	&:hover {
		color: #9198a0;
	}
}

.table-count-list {
	// width: 1015px;
	thead {
		tr {
			th {
				vertical-align: middle;
				padding: 12px 10px;
				&:first-child {
					line-height: 1;
				}
			}
		}
	}
	tbody {
		tr {
			td {
				position: relative;
				&:first-child {
					text-align: left !important;
					padding-left: 10px;
					line-height: 1;
				}
				.highlighted {
					
				}
				&:hover {
					.table-action {
						opacity: 1;
						visibility: visible;
						z-index: 1;
					}
				}
			}
		}
	}
	&_collapse_none {
		border-collapse: separate;
	}
}


.table-collapse {
	tr[data-toggle="collapse"] {
		cursor: pointer;
	}
	td {
		width: 20%;
		&:first-child {
			width: 43%;
		}
		&:last-child {
			width: 37%;
			padding-right: 0 !important;
			.button-clr {
				padding-right: 0 !important;
			}
		}
	}
	table {
	}
}


.table-collapse-btn {
	position: relative;
	display: inline-block;
	padding-left: 22px;
	line-height: 18px;
	.svg-icon-menu {
		font-size: 14px;
	}
	.svg-icon-triangle {
		transform: rotate(-90deg);
		font-size: 14px;
	}
	&.active {
		.table-collapse-icon {
			&:before {
				transform: translate(-50%, -50%) rotate(-180deg);
			}
			&:after {
				transform: translate(-50%, -50%) rotate(90deg);
			}
		}
		.svg-icon-triangle {
			transform: rotate(0);
		}
		.button-regular {
			border-color: #e30611;
		}
	}
}
.table-collapse-icon {
	position: absolute;
	top: 0;
	left: 0;
	width: 18px;
	height: 18px;
	border: 2px solid #001424;
	border-radius: 4px;

	font-size: 0;
	&:before, &:after {
		content: '';

		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		
		background-color: #001424;
		transition: linear .1s;
	}
	&:before {
		width: 8px;
		height: 2px;
	}
	&:after {
		width: 2px;
		height: 8px;
	}
}

[data-collapse-cell] {
	// display: none;
}
.highlighted-tr {
	&:hover {
		td {
			background-color: #f2f3f7;
			border-color: #f2f3f7;
		}
	}
}
.table-action {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	display: flex;
	align-items: center;

	background-color: rgba(#001424, .7);
	border-radius: 4px;

	opacity: 0;
	visibility: hidden;
	z-index: -1;
	transition: linear .1s;
}