.th-title {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
}
.th-title-name {
	vertical-align: middle;
	display: inline-block;
	line-height: 1.1;
}
.th-title-btns {
	display: inline-flex;
	flex-direction: column;
	vertical-align: middle;
	line-height: 0;
	margin-left: 10px;
}
.th-title-btn {
	line-height: 0;
	&.active {
		.th-title-icon {
			color: #0097fd;
			transform: rotate(180deg);
		}
	}
}
.th-title-icon {
	font-size: 7px;
	color: #bbc1c7;
	&:hover {
		color: #0097fd;
	}
	&_reverse {
		transform: rotate(180deg);
	}
}
.th-title-icon-filter {
	font-size: 14px;
	color: #bbc1c7;
}