.tooltip-box {
	display: inline-block;
	line-height: 1;
	&:hover {
		
	}
	&_side-margins {
		margin-left: 10px;
		margin-right: 10px;
	}
	&_position_right {
		position: absolute;
		top: 50%;
		left: 100%;
		transform: translate(0, -50%);
	}
}
.tooltip-question-icon {
	color: #bbc1c7;
	font-size: 18px;
}

.tooltip-popup {

}

.tooltip-inner {
	border-radius: 8px;
	box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.3);
	background-color: #ffffff;
	color: #001424;
}
.bs-tooltip-bottom .arrow::before, .bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
	border-bottom-color: #fff;
}
.bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before {
	border-top-color: #fff;
}
.tooltip.show {
	opacity: 1;
}