.total-txt {
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.43;
	letter-spacing: normal;
	text-align: right;
	color: #9198a0;
	strong {
		color: #333;
		margin-left: 8px;
	}
}
.total-txt-foot {
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: normal;
	color: #001424;
	strong {
		font-weight: 700;
	}
}