.wrap {
	padding: 25px;
	background-color: #fff;
	border-radius: 8px;
	margin-bottom: 20px;
	@include mxl() {
		padding: 15px;
	}
	&:last-child {
		margin-bottom: 0;
	}
	&_padding_none {
		padding: 0;
	}
	&_padding_small {
		padding: 16px;
	}
	&_count {
		padding: 12px 12px 0;
		@include mxl() {
			padding: 12px 12px 0;
		}
		.row {
			margin-left: -6px;
			margin-right: -6px;
		}
		[class*="col-"] {
			padding-left: 6px;
			padding-right: 6px;
			margin-bottom: 12px;

			display: flex;
			flex-direction: column;
		}
		.count-card {
			flex-grow: 1;
		}
		.date-picker-wrap {
			margin-bottom: 12px;
		}
		.button-regular {
			margin-bottom: 12px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		.dropdown {
			&:last-child {
				.button-regular {
					margin-bottom: 0;
				}
			}
		}
	}
	&_btns {
		min-width: 725px;
		max-width: 1015px;
		padding: 6px 12px;
		@include mxl() {
			padding: 6px 12px;
		}
		.row {
			margin-left: -6px;
			margin-right: -6px;
			// flex-wrap: nowrap;
		}
		.column {
			padding-left: 6px;
			padding-right: 6px;
			margin-top: 6px;
			margin-bottom: 6px;
		}
		.checkbox-pseudo {
			left: -2px;
		}
		&.fixed {
			position: sticky;
			bottom: 0;
			width: 100%;
			// right: 15px;
			// opacity: 0;
			// visibility: hidden;
			z-index: 999;
			border: 1px solid #f2f3f7;
			// width: 72%;
			@include xl() {
				// width: 78.2%;
			}
			@media only screen and (min-width: 1300px) {
				// width: 1015px;
				// right: auto;
			}
		}
		&:not(.check-condition) {
			order: 13;
			// margin-top: 12px;
		}
		&.check-condition {
			order: 12;
			position: absolute !important;
			margin-top: 0;
			&.visible {
				position: sticky !important;
				transform: translate(0, 0);
				// margin-top: 0;
			}
		}
		&.check-condition + .wrap_btns {
			// margin-top: 12px;
		}
		&:nth-last-child(2) {
			margin-top: 12px;
		}
	}
	&.check-condition {
		position: sticky;
		bottom: 0;
		// right: 15px;
		// opacity: 0;
		// visibility: hidden;
		z-index: 999;
		// width: 72%;
		@include xl() {
			// width: 78.2%;
		}
		@media only screen and (min-width: 1300px) {
			// width: 1015px;
			// right: auto;
		}
	}
	&.visible {
		// opacity: 1;
		// visibility: visible;
		.dropdown-more {
			.dropdown-menu {
				top: auto !important;
				bottom: 100% !important;
			}
		}
	}
}

.check-condition {
	opacity: 0;
	visibility: hidden;
	&.visible {
		opacity: 1;
		visibility: visible;
	}
}