html {
	font-size: $rem-font-size;
}
body {
	position: relative;

	font-family: $document-font-family;
	font-weight: $document-font-weight;
	font-size: $document-font-size;
	line-height: $document-line-height;
	color: $document-color;

	background-color: $document-background;
	// min-height: 2000px;
	min-width: 1007px;
	&.scroll-hidden {
		overflow: hidden;
		@include lg() {
			padding-right: 17px;
		}
	}
	&.modal-open {
		// .header {
		// 	right: 17px;
		// 	width: auto;
			
		// }
	}
}

img {
	max-width: 100%;
	height: auto;
}



.w-15 {
	width: 15% !important;
}
.w-20 {
	width: 20% !important;
}
.w-30 {
	width: 30% !important;
}
.w-35 {
	width: 35% !important;
}
.width-100 {
	width: 100px !important;
}
.width-120 {
	width: 120px !important;
}
.width-160 {
	width: 160px !important;
}
.min-width-100 {
	min-width: 100px !important;
}

.h-120 {
	height: 120px;
}

.no-border {
	border: none !important;
	&-right {
		border-right: none !important;
	}
}
.border-bottom {
	border-bottom: 1px solid #f2f3f7 !important;
}
.border-color-grey-light {
	border-color: #f2f3f7;
}

.collapsed {
	.svg-icon-collapse {
		transform: rotate(90deg);
	}
}
.highlighted {
	position: relative;
	z-index: 99999;
	background-color: #f2f3f7;
	border: solid 1px #e30611 !important;
	// border-left: solid 1px #e30611 !important;
	color: #e30611;
}

.red-light {
	&:before {
		content: '';

		position: absolute;
		top: 0;
		left: -2px;
		right: -1px;
		bottom: -2px;
		background-color: rgba(#e30611, .25);
	}
	&_2 {
		&:before {
			background-color: rgba(#e30611, .2);
		}
	}
	&_3 {
		&:before {
			background-color: rgba(#e30611, .15);
		}
	}
	&_4 {
		&:before {
			background-color: rgba(#e30611, .1);
		}
	}
	&_5 {
		&:before {
			background-color: rgba(#e30611, .05);
		}
	}
}
.green-light {
	&:before {
		content: '';

		position: absolute;
		top: 0;
		left: -2px;
		right: -1px;
		bottom: -2px;
		background-color: rgba(#26cd58, .25);
	}
	&_2 {
		&:before {
			background-color: rgba(#26cd58, .2);
		}
	}
	&_3 {
		&:before {
			background-color: rgba(#26cd58, .15);
		}
	}
	&_4 {
		&:before {
			background-color: rgba(#26cd58, .1);
		}
	}
	&_5 {
		&:before {
			background-color: rgba(#26cd58, .05);
		}
	}
}

.background-grey {
	background-color: #f2f3f7;
}

.border-radius-4 {
	border-radius: 4px;
}

.ml-1-negative {
	margin-left: -0.25rem !important;
}
.ml-2-negative {
	margin-left: -0.5rem !important;
}
.ml-3-negative {
	margin-left: -1rem !important;
}
.ml-4-negative {
	margin-left: -1.5rem !important;
}
.ml-4-negative {
	margin-left: -3rem !important;
}

.mr-1-negative {
	margin-right: -0.25rem !important;
}
.mr-2-negative {
	margin-right: -0.5rem !important;
}
.mr-3-negative {
	margin-right: -1rem !important;
}
.mr-4-negative {
	margin-right: -1.5rem !important;
}
.mr-4-negative {
	margin-right: -3rem !important;
}