.container-fluid {
	min-width: 1007px;
	max-width: 1300px;
	margin-left: auto;
	margin-right: auto;
	&_large {
		max-width: 1635px;
		min-width: 1500px;
		@include xl() {
			min-width: 1500px;
		}
	}
}

.column {
	padding-left: 15px;
	padding-right: 15px;
}
.row {
	&_indents_s {
		margin-left: -5px;
		margin-right: -5px;
		& > * {
			padding-left: 5px;
			padding-right: 5px;
		}
	}
	&_indents_sm {
		margin-left: -6px;
		margin-right: -6px;
		& > * {
			padding-left: 6px;
			padding-right: 6px;
		}
	}
	&_indents_m {
		margin-left: -10px;
		margin-right: -10px;
		& > * {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
}

.collapse {
	&.show {
		.bank-form-wrap {
			opacity: 1;
			visibility: visible;
		}
	}
}