@font-face {
	font-family: 'Corpid E3 SCd';
	src: url('../fonts/subset-CorpidE3SCd-Regular.woff2') format('woff2'),
	url('../fonts/subset-CorpidE3SCd-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Corpid E3 SCd';
	src: url('../fonts/subset-CorpidE3SCd-Bold.woff2') format('woff2'),
	url('../fonts/subset-CorpidE3SCd-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Corpid E3 SCd';
	src: url('../fonts/subset-CorpidE3SCd-Light.woff2') format('woff2'),
	url('../fonts/subset-CorpidE3SCd-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

