.svg-icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
	&_grey {
		color: #bbc1c7;
	}
	&_font_size_50 {
		font-size: 50px;
	}
	&_font_size_40 {
		font-size: 40px;
	}
	&_font_size_27 {
		font-size: 27px;
	}
	&_font_size_12 {
		font-size: 12px !important;
	}
	&.red {
		color: #e30611 !important;
	}
	&.white {
		color: #fff !important;
	}
	&_reverse {
		transform: rotate(180deg);
	}
	&_rotate_90 {
		transform: rotate(90deg);
	}
	&_rotate_90_negative {
		transform: rotate(-90deg);
	}
}
.svg-icon-add {
	path {
		color: #fff;
	}
}