$rem-font-size: 16px;
$font: 'Corpid E3 SCd', sans-serif;

// values for body tag
$document-font-family: $font;
$document-font-weight: 400;
$document-font-size: 1rem;
$document-color: #001424;
$document-line-height: 1.2;
$document-background: #F2F3F7;