<footer class="footer mt-auto">
	<div class="container-fluid">
		<div class="row align-items-center">
			<div class="copy column mr-1"> &copy; 2018 ПАО «МТС» &nbsp;&nbsp;&nbsp; 18+</div>
			<div class="column ml-5">
				<a class="link link_bold" href="#">
					<span class="link-txt">Заявка на спецусловия</span>
					<svg class="link-shevron-down link-shevron-down_right svg-icon">
						<use xlink:href="images/svg-sprite/svgSprite.svg#shevron-down"></use>
					</svg>
				</a>
			</div>
			<div class="copy column ml-auto">Круглосуточная служба поддержки: 8 800 250 11 11. Бесплатно по России.</div>
		</div>
	</div>
</footer>