<header class="header">
	<div class="container-fluid">
		<div class="row align-items-center justify-content-end">
			<a class="header-logo logo column mr-auto" href="#">
				<img class="logo-img" src="images/LogoMTS.svg" alt="">
				<span class="logo-txt">Документы</span>
			</a>
			<ul class="menu-nav list-clr">
				<li class="menu-nav-item">
					<div class="dropdown">
						<button class="button-clr dropdown-btn" type="button" id="dropdownMenuCompanys" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="dropdown-btn-txt">Мои компании</span>
							<svg class="dropdown-btn-shevron svg-icon">
								<use xlink:href="images/svg-sprite/svgSprite.svg#shevron"></use>
							</svg>
						</button>
						<div class="dropdown-popup dropdown-popup_companys dropdown-menu" aria-labelledby="dropdownMenuButton">
							<div class="dropdown-popup-in">
								<ul class="dropdown-popup-list list-clr">
									<li>
										<a class="dropdown-popup-link active" href="#">
											<img class="company-name-img" src="images/title-logo@2x.png" alt="">
											<span>OOO “СМАРТ+” </span>
										</a>
									</li>
									<li>
										<a class="dropdown-popup-link" href="#">
											<span class="dropdown-popup-radius">
												<svg class="svg-icon">
													<use xlink:href="images/svg-sprite/svgSprite.svg#bag"></use>
												</svg>
											</span>
											<span>OOO “Лютик” </span>
										</a>
									</li>
									<li>
										<a class="dropdown-popup-link" href="#">
											<span class="dropdown-popup-radius">
												<svg class="svg-icon">
													<use xlink:href="images/svg-sprite/svgSprite.svg#bag"></use>
												</svg>
											</span>
											<span>ИП Иванов И.И.</span>
										</a>
									</li>
									<li>
										<a class="dropdown-popup-link dropdown-popup-link_add" href="#">
											<span class="dropdown-popup-radius"><span>+</span></span>
											<span class="dropdown-popup-txt">Добавить компанию</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</li>
				<li class="menu-nav-item active"><a class="menu-nav-link" href="#">Бухгалтерия ИП</a></li>
				<li class="menu-nav-item"><a class="menu-nav-link" href="#">Налоговый календарь</a></li>
				<li class="menu-nav-item"><a class="menu-nav-link" href="#">Отчетность</a></li>
				<li class="menu-nav-item">
					<div class="dropdown">
						<button class="button-clr dropdown-btn" type="button" id="dropdownMenuCompanys" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span class="dropdown-btn-txt">Ещё</span>
							<svg class="dropdown-btn-shevron svg-icon">
								<use xlink:href="images/svg-sprite/svgSprite.svg#shevron"></use>
							</svg>
						</button>
						<div class="dropdown-popup dropdown-popup_more dropdown-menu" aria-labelledby="dropdownMenuButton">
							<div class="dropdown-popup-in">
								<ul class="products-list list-clr">
									<li>
										<a class="products-list-link" href="#">
											<span class="notif-marker notif-marker_red">
												<svg class="svg-icon">
													<use xlink:href="images/svg-sprite/svgSprite.svg#template"></use>
												</svg>
											</span>
											<span class="products-link-txt">Выставление счетов</span>
										</a>
									</li>
									<li>
										<a class="products-list-link" href="#">
											<span class="notif-marker notif-marker_red">
												<svg class="svg-icon">
													<use xlink:href="images/svg-sprite/svgSprite.svg#chart"></use>
												</svg>
											</span>
											<span class="products-link-txt">Финансовая аналитика</span>
										</a>
									</li>
									<li>
										<a class="products-list-link" href="#">
											<span class="notif-marker notif-marker_red">
												<svg class="svg-icon">
													<use xlink:href="images/svg-sprite/svgSprite.svg#mix"></use>
												</svg>
											</span>
											<span class="products-link-txt">Бухгалтерия ИП</span>
										</a>
									</li>
									<li>
										<a class="products-list-link" href="#">
											<span class="notif-marker notif-marker_red">
												<svg class="svg-icon">
													<use xlink:href="images/svg-sprite/svgSprite.svg#bank"></use>
												</svg>
											</span>
											<span class="products-link-txt">В2В эквайринг</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</li>
			</ul>
			<div class="header-others column">
				<div class="header-others-row row align-items-center justify-content-between">
					<div class="header-others-column column">
						<div class="dropdown dropdown_wallet">
							<button class="button-clr dropdown-btn" type="button" id="dropdownWallet" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<svg class="dropdown-btn-icon svg-icon">
									<use xlink:href="images/svg-sprite/svgSprite.svg#wallet"></use>
								</svg>
								<span class="dropdown-btn-txt">2 486,80 ₽</span>
							</button>
						</div>
					</div>
					<div class="header-others-column column">
						<div class="dropdown dropdown_products">
							<button class="button-clr dropdown-btn" type="button" id="dropdownProducts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<svg class="dropdown-btn-icon svg-icon">
									<use xlink:href="images/svg-sprite/svgSprite.svg#products"></use>
								</svg>
							</button>
							<div class="dropdown-popup dropdown-popup_products dropdown-menu" aria-labelledby="dropdownMenuButton">
								<div class="dropdown-popup-in">
									<div class="products-list-title">Доступные продукты</div>
									<ul class="products-list list-clr">
										<li>
											<a class="products-list-link" href="#">
												<img class="products-link-img" src="images/LogoMTS.svg" alt="">
												<span class="products-link-txt">Сайт МТС</span>
											</a>
										</li>
										<li>
											<a class="products-list-link" href="#">
												<span class="notif-marker notif-marker_dark">&nbsp;</span>
												<span class="products-link-txt">Виртуальный помошник</span>
											</a>
										</li>
										<li>
											<a class="products-list-link" href="#">
												<span class="notif-marker notif-marker_grey">&nbsp;</span>
												<span class="products-link-txt">Маркетолог</span>
											</a>
										</li>
										<li>
											<a class="products-list-link" href="#">
												<span class="notif-marker notif-marker_dark">&nbsp;</span>
												<span class="products-link-txt">Cashback</span>
											</a>
										</li>
										<li>
											<a class="products-list-link" href="#">
												<span class="notif-marker notif-marker_red">&nbsp;</span>
												<span class="products-link-txt">Касса</span>
											</a>
										</li>
									</ul>
									<br><br>
									<div class="products-list-title">Доступные продукты</div>
									<ul class="products-list list-clr">
										<li>
											<a class="products-list-link" href="#">
												<img class="products-link-img" src="images/LogoMTS.svg" alt="">
												<span class="products-link-txt">Сайт МТС</span>
											</a>
										</li>
										<li>
											<a class="products-list-link" href="#">
												<span class="notif-marker notif-marker_dark">&nbsp;</span>
												<span class="products-link-txt">Виртуальный помошник</span>
											</a>
										</li>
										<li>
											<a class="products-list-link" href="#">
												<span class="notif-marker notif-marker_grey">&nbsp;</span>
												<span class="products-link-txt">Маркетолог</span>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="header-others-column column">
						<div class="dropdown">
							<button class="button-clr dropdown-btn" type="button" id="dropdownNotif" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<svg class="dropdown-btn-icon svg-icon">
									<use xlink:href="images/svg-sprite/svgSprite.svg#bell"></use>
								</svg>
								<span class="dropdown-btn-indicator indicator">&nbsp;</span>
							</button>
							<div class="dropdown-popup dropdown-popup_notifications dropdown-menu" aria-labelledby="dropdownMenuButton">
								<div class="dropdown-popup-in">
									<ul class="notification-list list-clr">
										<li>
											<a class="notification-link" href="#">
												<img class="notification-img" src="images/notif1.png" alt="">
												<span>
													<span class="notification-message">Выполнен вход в Ваш аккаунт МТС. <br> Если это были не Вы, позвоните …</span>
													<br>
													<span class="notification-time">Только что</span>
												</span>
											</a>
										</li>
										<li>
											<a class="notification-link" href="#">
												<img class="notification-img" src="images/LogoMTS.svg" alt="">
												<span>
													<span class="notification-message">Мой МТС <br> 3 уведомления</span>
													<br>
													<span class="notification-time">Сегодня в 09:15</span>
												</span>
											</a>
										</li>
										<li>
											<a class="notification-link" href="#">
												<span class="notif-marker notif-marker_dark">&nbsp;</span>
												<span>
													<span class="notification-message">Сегодня запланирован урок по <br> математике в 15:00. Успехов!</span>
													<br>
													<span class="notification-time">Сегодня в 12:15</span>
												</span>
											</a>
										</li>
										<li>
											<a class="notification-link" href="#">
												<span class="notif-marker notif-marker_grey">&nbsp;</span>
												<span>
													<span class="notification-message">Запланирован прием к терапевту в <br> клинике КДЦ МЕДСИ на Грохольск…</span>
													<br>
													<span class="notification-time">25 июля 2018</span>
												</span>
											</a>
										</li>
										<li>
											<a class="notification-link" href="#">
												<span class="notif-marker notif-marker_red">&nbsp;</span>
												<span>
													<span class="notification-message">Вам начислено 10 ₽ кешбека</span>
													<br>
													<span class="notification-time">25 июля 2018</span>
												</span>
											</a>
										</li>
									</ul>
									<a class="all-notifications link link_bold" href="#">Все уведмоления</a>
								</div>
							</div>
						</div>
					</div>
					<div class="header-others-column column">
						<div class="dropdown">
							<button class="button-clr dropdown-btn" type="button" id="dropdownUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<img class="dropdown-btn-img" src="images/user-img.png" alt="">
							</button>
							<div class="dropdown-popup dropdown-menu" aria-labelledby="dropdownMenuButton">
								<div class="dropdown-popup-in">
									<div class="dropdown-popup-head">
										<div class="dropdown-user-name">Александров Константин</div>
										<a class="dropdown-user-mail" href="mailto:name@company.ru">name@company.ru</a>
									</div>
									<ul class="dropdown-list list-clr">
										<li><a class="dropdown-list-link" href="#">Профиль</a></li>
										<li><a class="dropdown-list-link" href="#">Мои докумнты</a></li>
										<li><a class="dropdown-list-link" href="#">Помощь</a></li>
									</ul>
									<div class="dropdown-popup-foot">
										<a class="dropdown-list-link" href="#">Выход</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>